body{margin:0 auto; overflow:hidden !important;}
h1, h2, h3, h4, h5, h6 {
font-family: Oswald !important;
line-height: 110%;
 
}
.bar a{-webkit-transition: all 0s ease-in-out;
   -moz-transition: all 0s ease-in-out;
   -o-transition: all 0s ease-in-out;
   -ms-transition: all 0s ease-in-out;
   transition: all 0s ease-in-out;}
.bar{position:absolute; top:0; width:100%; height:60px; background:#1e1e20; border-bottom: 1px solid #2a2b2c;}
.switchercontainer{postion:relative; width:960px; margin:0 auto;}
iframe{margin-top:60px;}
.barlogo{float:left; background: url('images/logo.png');width:150px;height:60px;margin-left:10px;margin-top:-1px;}
.barselecttheme{position:absolute; margin-left:100px !important; padding-top:10px; margin-left:30px;}
.barselectplugin{position:absolute; margin-left:330px; padding-top:10px;}
.bardocumentation {float:right; background: url('images/readDetails.png') no-repeat;width:70px;height:20px; margin-right:20px; margin-top:20px;}
.barcart{float:right; background: url('images/shopping_cart.png') no-repeat;width:70px;height:20px; margin-right:20px; margin-top:20px;}
.closeframe {float:right; background: url('images/closeBar.png') no-repeat;width:70px;height:20px; margin-right:20px; margin-top:20px;}
.barselectcolor{position:absolute; margin-left:580px; padding-top:10px;}
.closeframe{float:right; margin-right:20px; padding-top:20px;}
#style-switcher, #theme-switcher, #plugin-switcher{border-radius:3px;margin-top:4px;background:url(images/down_arrow.png) no-repeat 240px 10px;font-size:13px; background-color: #2F3236; color:#ccc; padding:10px 10px 20px 10px; border:1px solid #444;  cursor:pointer; z-index:9;font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
text-shadow: 0 1px 0 rgba(0,0,0,1);}
#style-switcher {background:url(images/down_arrow.png) no-repeat 140px 10px;background-color: #2F3236;}
#theme-switcher-button{width:200px;}
#plugin-switcher-button{width:220px;}
#theme-switcher {width:200px;}
#plugin-switcher{width:220px;}
#plugin-switcher li, #theme-switcher li , #style-switcher li  {border-bottom:1px dotted #44484e;padding-top:0px; padding-bottom:5px;}
#theme-switcher li:hover .creativeBar, #theme-switcher li:hover .portfolioBar , #plugin-switcher li:hover .creativeBar{background-color:#DFB715;}
#style-switcher li {border-bottom:none;padding-bottom:0px;}
#plugin-switcher li a img{border:1px solid #ccc;padding:10px; background:#fff;display:none; position:absolute; margin-left:260px; margin-top:-30px;}
#plugin-switcher li a:hover img {display:block;}
#theme-switcher li a img{border:1px solid #ccc;padding:10px; background:#fff;display:none; position:absolute; margin-left:260px; margin-top:-30px;}

#theme-switcher li a:hover img {display:block;}
#theme-switcher li a {color:#aaa;font-size:12px;}
#style-switcher-button{width:140px;}
#theme-switcher li:hover a, #plugin-switcher li:hover a, #style-switcher li:hover a {color:#fff;}
#style-switcher{width:140px;}
#style-switcher-button,#theme-switcher-button, #plugin-switcher-button{border-radius:3px;margin-top:4px;font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;position:relative;background:url(images/down_arrow.png) no-repeat center right;  font-size:13px; background-color: #2F3236; color:#ccc; padding: 5px 10px 5px 10px; border:1px solid #444;  cursor:pointer;
text-shadow: 0 1px 0 rgba(0,0,0,0.4);}
#style-switcher h4, #theme-switcher h4, #plugin-switcher h4{color:#fff !important; margin-bottom:20px; margin-top:-4px !important;}
#closestyle, #closestyle , #closeplugin{background: url(images/closeStyle.png) no-repeat; height:15px; width:15px; position:absolute; margin-left:152px; margin-top:2px;}
.bar li {text-decoration:none; list-style: none !important; margin-top:5px;}
#style-switcher li{padding-left:10px;}
.bar li span{float:right;}
.bar ul {margin-left:0px !important;}
.bar span.portfolioBar{background-color:#fff; border-radius:3px;padding:0 5px 0 5px;color:#1e1e20; text-shadow:none; text-transform:uppercase;font-size:10px;}
.bar span.creativeBar{background-color:#fff; border-radius:3px;padding:0 5px 0 5px;color:#1e1e20; text-shadow:none; text-transform:uppercase;font-size:10px;}



#style-switcher li.redstyle {border-left:20px solid #CC3333;}
#style-switcher li.greenstyle {border-left:20px solid #85A51D;}
#style-switcher li.yellowstyle {border-left:20px solid #EEBF00;}
#style-switcher li.lightBluestyle {border-left:20px solid #8EC1CA;}
#style-switcher li.orangestyle {border-left:20px solid #E88B4E;}
#style-switcher li.purplestyle {border-left:20px solid #884A8B;}
#style-switcher li.bluestyle {border-left:20px solid #2689D5 ;}
#style-switcher li.pinkstyle {border-left:20px solid #F548AE;}
iframe#fbframe  { margin-top:0 !important;}
